body {
    background-color: #212121;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    /* height: 100%; */
}

.center {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner span {
    font-size: 40px;
}

#clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}